<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Let's enjoy calcuration!!</p>
    <p><%= num1 %> + <%= num2 %> = ?</p>
  </body>
</html>
