<%-include("header") %>
<body>
  <div class="container text-center">
    <!-- 上段の3個 -->
    <div class="row d-none d-sm-flex">
      <div class="col-4 item">
        <% if(judgement) { %>
          <p class="sabu-word">脳の回転速すぎて火が出る！</p>
        <% } %>
      </div>
      <div class="col-4 item">
        <% if(judgement) { %>
          <p class="sabu-word">アインシュタインの生まれ変わり！</p>
        <% } %>
      </div>
      <div class="col-4 item">
        <% if(judgement) { %>
          <p class="sabu-word">脳みその皺がラビリンス！</p>
        <% } %>
      </div>
    </div>

    <div class="row">
      <!-- 中段の左 -->
      <div class="col-4 item d-none d-sm-flex">
        <% if(judgement) { %>
          <p class="sabu-word">ベガバンクもびっくり！</p>
        <% } %>
      </div>

      <div class="col-12 col-sm-4 item">
        <div class="row">
          <div class="col-12">
            <h1><%= result_message %></h1>
          </div>
          <div class="col-12">
            <% if(judgement) { %>
              <p class="message">
                <span>正解！天才です！！</span>
              </p>
            <% } else { %>
              <p class="message">
                <span>伸びしろは無限大…！</span>
              </p>
            <% } %>
          </div>
          <div class="col-12">
            <a href="/">もう一度</a>
          </div>
        </div>
      </div>

      <!-- 中段の右 -->
      <div class="col-4 item d-none d-sm-flex">
        <% if(judgement) { %>
          <p class="sabu-word">人間国宝！ルーブル美術館に展示したい！</p>
        <% } %>
      </div>
    </div>

    <!-- 下段の3個 -->
    <div class="row d-none d-sm-flex">
      <div class="col-4 item">
        <% if(judgement) { %>
          <p class="sabu-word">脳みそ詰まりすぎ、密です！</p>
        <% } %>
      </div>
      <div class="col-4 item">
        <% if(judgement) { %>
          <p class="sabu-word">脳みそは密でいいんだよ！</p>
        <% } %>
      </div>
      <div class="col-4 item">
        <% if(judgement) { %>
          <p class="sabu-word">羂索「キッショ、なんで分かるんだよ」</p>
        <% } %>
      </div>
    </div>

  </div>
</body>
<%-include("footer") %>
