* {
  margin: 0;
  padding: 0;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  margin: 20px auto;
}

h1 {
  margin: 10px auto;
}

#calc-contents {
  margin: 30px auto 10px;
}

#result-input {
  margin: 10px auto 10px;
  width: 50px;
}

.f-container {
  display:flex;
  flex-wrap:wrap;
}

.f-item {
  justify-content:center;
  align-items:center;
  text-align:center;
  height: 200px;
}

.f-item-left {
  width: 30%;
  margin: 0 1% 0 0; /* 右だけ */
}
.f-item-center {
  width: 36%;
  margin: 0 1% 0 1%;
}
.f-item-right {
  width: 30%;
  margin: 0 0 0 1%; /* 左だけ */
}

.message {
  margin: 10px auto;
}