* {
  margin: 0;
  padding: 0;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  margin: 20px auto;
}

h1 {
  margin: 10px auto;
}

#calc-contents {
  margin: 30px auto 10px;
}

#result-input {
  margin: 10px auto 10px;
  width: 50px;
}

.item {
  justify-content:center;
  align-items:center;
  text-align:center;
  height: 200px;

  display: flex;
}

.message {
  margin: 10px auto;
}